# Ignore everything
# *
.venv/
.DS_Store
logs/
Training/
example_policy_gradient.py
policy_gradient_utils.py

# But don't ignore this .gitignore file itself
!.gitignore
!.README.md

# And don't ignore the folder we actually want to track
# !/Project 3/
# !/Project 3/**