# Ignore everything
# *
__pycache__/
.venv/
.DS_Store
logs/
Training/
developing/
policy_gradient_visualizations/
videos/
documents/



# But don't ignore this .gitignore file itself
!.gitignore
!.README.md

# And don't ignore the folder we actually want to track
# !/Project 3/
# !/Project 3/**